{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    contact
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <div class="section section-stretch section-lightgray">

        {#    <div class="container">#}
        <h1 class="tagline">let us get in touch</h1>
    </div>

    <div class="section-end section-end-lightgrey"></div>

    <div class="section section-lightgray" style="padding-top: 0px;">
        <div id="vcard" class="jumbotron">
            <div class="row" style="text-align: center">
                <div class="col-lg-12">
                    <h1>Eraldo Helal</h1>

                    <p><a href="tel:004369910203039"><span style="color: gray"><span
                            class="glyphicon glyphicon-phone"></span> mobile</span> +43 699 10 20 30 39</a>
                    </p>

                    <p><a href="mailto:homepage@eraldo.org" target="_blank"><span style="color: gray"><span
                            class="glyphicon glyphicon-envelope"></span> email</span>
                        homepage@eraldo.org</a></p>

                    <p><a href="{% url 'pages:T42' %}"><span style="color: gray"><span
                            class="glyphicon glyphicon-user"></span> face to face</span>
                        project T42</a></p>
                </div>
                <div class="col-xs-6">
                    <a href="https://www.facebook.com/Eraldo" target="_blank">
                        <img src="{{ STATIC_URL }}pages/images/contact/facebook-icon.png"
                             class="img-circle img-responsive">

                        <h2>facebook</h2>
                    </a>
                </div>
                <div class="col-xs-6">

                    <a href="https://plus.google.com/u/0/102746258450496109858" target="_blank">
                        <img src="{{ STATIC_URL }}pages/images/contact/google-plus.png"
                             class="img-circle img-responsive">

                        <h2>google+</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-end section-end-e"></div>
    </div>
    <div class="section-end section-end-lightgrey"></div>


    <div class="section row">
        <div id="contact-form" class="col-lg-8 col-lg-offset-2">
            {% crispy form %}
        </div>
    </div>
    <div class="section-end section-end-white"></div>

    <div class="section section-grey">
        <div class="section-end section-end-grey"></div>
        <iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Linz,+Austria&amp;aq=0&amp;oq=linz&amp;sll=48.295065,14.327405&amp;sspn=0.457735,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Linz,+Upper+Austria,+Austria&amp;t=m&amp;ll=48.322245,14.284286&amp;spn=0.109579,0.219727&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>


    </div>
    {#    <div class="section-end section-end-grey"></div>#}

{% endblock %}

{% block extra-script %}
    <script>
        $('#carousel-main').carousel()
    </script>
{% endblock %}