{% extends 'base.html' %}

{% block title %}
    dance
{% endblock %}

{% block extrahead %}
    <!-- plusgallery -->
    <link rel="stylesheet" href="{{ STATIC_URL }}pages/plusgallery/css/plusgallery.css">
    <!-- plusgallery custom -->
    <style>
        #pgalbums {
            text-align: center;
        }

        .pgalbumthumb {
            display: inline-block;
            float: none;
            max-width: none;
        }

        .pgthumb {
            max-width: none;
        }

        #plusgallery.dark-gallery #pgthumbcrumbs {
            color: white;
        }

        .pgzoomcaption {
            bottom: 60px;
        }

        .dance-colored {
            border-radius: 50%;
            background-color: black !important;
            background: url("https://sites.google.com/a/eraldo.org/dance/_/rsrc/1375319489905/register/Disco_Ball_by_29MiCHi92.jpg") no-repeat center center;
            background-size: 100%;
            color: white;
        }

        .dance-colored h2 {
            background-color: black;
            margin: 0 25%;
        }

        .color-banner {
            background: url("https://sites.google.com/a/eraldo.org/dance/_/rsrc/1375237024851/register/bg.png");
            background-size: cover;
            height: 4px;
        }

        .color-border:hover {
            border-width: 0 0 4px;
            border-image: url("https://sites.google.com/a/eraldo.org/dance/_/rsrc/1375237024851/register/bg.png") 0 0 4 0 stretch stretch;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="section section-stretch section-lightgray">

        <h1 class="tagline"><i>let us dance</i></h1>
    </div>
    <div class="section-end section-end-lightgrey"></div>

    <div class="section row">
        <div class="submenu-link-bar">
            <a href="#dance-gallery" class="submenu-link color-border col-xs-3">Gallery</a>
            <a href="#dance-events" class="submenu-link color-border col-xs-3">Events</a>
            <a href="#dance-teachers" class="submenu-link color-border col-xs-3">Teachers</a>
            <a href="#dance-shows" class="submenu-link color-border col-xs-3">Shows</a>
        </div>
    </div>
    <div class="section-end section-end-white"></div>

    <div class="section section-lightgray">
        <div class="section-end section-end-lightgrey"></div>
        <div id="vcard" class="jumbotron">
            <div class="row" style="text-align: center">
                <div class="col-xs-12">
                    <a href="{% url 'pages:contact' %}">
                        <img src="{{ STATIC_URL }}pages/images/eat-dance-sleep.jpg" class="img-circle img-responsive">
                    </a>
                </div>
                <div class="col-lg-12">
                    <h1>dance</h1>

                    <p>

                    <div class="well dance-colored">
                        <h2>Salsa, Bachata, Kizomba & Co.</h2>
                        <img src="https://sites.google.com/a/eraldo.org/dance/_/rsrc/1368233281986/config/dance-banner-sfit.png.1368233280662.png"
                             width="50%">
                    </div>
                    <div class="well">
                        <h3>Private Lessons</h3>

                        <div class="color-banner"></div>
                        I love to dance, listen to and teach Salsa.<br>
                        If you are interested in learning Salsa from scratch or improving your skill level.<br>
                        feel free to <a href="{% url 'pages:contact' %}"> contact me</a>.
                        {#                        <div class="color-banner"></div>#}
                    </div>
                    <div class="well">
                        {#                        <div class="color-banner"></div>#}
                        <h3 id="workshops">Workshops</h3>

                        <div class="color-banner"></div>
                        I created a project called <a href="#" onclick="alert('Coming soon. ;)'); return false;">Own
                        Style Dance</a>.<br>
                        If enough people are interested, I will make sure that there are enough Workshops and Events for
                        you guys.<br>

                        <p>There will also be a <em>special workshop series</em>:<br>
                        <pre>&#60;music&#62;<b>DANCE FOR ENGINEERS</b>&#60;/music&#62;</pre>
                        </p>
                        In order to keep updated - just <a href="{% url 'pages:contact' %}"> contact me</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-end section-end-e"></div>
    </div>
    <div class="section-end section-end-lightgrey"></div>

    <div class="section section-black text-center">
        <h1 id="dance-gallery" class="anchor">My Dance Gallery</h1>

        <div class="color-banner"></div>

        <div id="plusgallery" class="dark-gallery"
             data-type="google"
             data-userid="102746258450496109858"
             data-include="5915319091599881841{# selection #},5915485409849703217{# stars #}"
             data-limit="40"
             data-credit="false"
                {#             data-album-id="OldWebsiteGallery"#}
                ><!-- +Gallery http://www.plusgallery.net/ -->
        </div>
    </div>
    <div class="section-end section-end-black"></div>

    <div class="section section-grey">

    <h1 id="dance-events" class="anchor">My Dance Events</h1>

    <div class="color-banner"></div>

    <div class="well">
    <table id="dance-events-table" class="table table-striped">
    <thead>
    <tr>
        <th>start</th>
        <th>end</th>
        <th>event name</th>
        <th>location</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        {% ifchanged event.start|date:"Y" %}
            <tr class="seperator">
                <td colspan="4">{{ event.start|date:"Y" }}</td>
            </tr>
        {% endifchanged %}
        <tr>
            <td>{{ event.start }}</td>
            <td>{{ event.start }}</td>
            <td>
            {% if event.url %}
                <a href="{{ event.url }}" target="_blank">{{ event }}</a>
            {% else %}
                {{ event }}
            {% endif %}
            </td>
            <td>{{ event.country }} ({{ event.city }})</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

    <h1 id="dance-teachers" class="anchor">My Dance Teachers</h1>

    <div class="color-banner"></div>

    <div>
    <ul class="list-group">
    <li class="list-group-item active"><h4>My Personal Trainer</h4></li>
    <li class="list-group-item"><a href="https://www.facebook.com/canalesnicolas" target="_blank">Nicolas
        Poblate
        Canales</a>
    </li>
    <li class="list-group-item active"><h4>Couples / Singles</h4></li>
    <li class="list-group-item"><a href="https://www.facebook.com/canalesnicolas" target="_blank">Nicolas
        Poblate
        Canales</a>&nbsp;&amp;
        <a href="https://www.facebook.com/ursula.flores.ortega" target="_blank">Ursula Flores Ortega</a>
    </li>

    <li class="list-group-item"><a href="http://www.love2salsa.at/wir.html" target="_blank">Manu Waldbauer &amp;
        Rene
        Waldbauer</a></li>

    <li class="list-group-item"><a href="http://www.salsa-linz.com/" target="_blank">Geraldo Hemelmayr</a>&nbsp;&amp;
        <a href="https://www.facebook.com/yuri.pozo" target="_blank">Yuri Pozo</a></li>

    <li class="list-group-item"><a href="http://www.adrianyanita.com/index.php/biografia" target="_blank">Adri&aacute;n
        Rodr&iacute;guez
        Carbajal &amp; Anita Santos Rub&iacute;n</a></li>

    <li class="list-group-item"><a href="http://www.juniorandemily.com/" target="_blank">Junior Alibi &amp;
        Emily
        Alibi</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/AlexAyelet" target="_blank">Alex Leyzer &amp;
        Ayelet
        Haliva</a></li>

    <li class="list-group-item"><a href="http://www.palante.eu/enaboutus.php?&amp;id=3" target="_blank">Evgeni
        Markov</a>&nbsp;&amp; <a class="c2"
                                 href="http://www.palante.eu/enaboutus.php?&amp;id=2" target="_blank">Liliana
        Gueorguieva Konstantinova</a></li>

    <li class="list-group-item"><a href="http://www.mirodance.com/" target="_blank">Miroslav Ivanov &amp;
        Denitsa Mitakova
        Ivanova</a></li>

    <li class="list-group-item"><a href="http://en.wikipedia.org/wiki/Eddie_Torres" target="_blank">Eddie Torres
        (aka Mambo
        King)</a>&nbsp;&amp; <a class="c2"
                                href="https://www.facebook.com/shani.talmor" target="_blank">Shani
        Talmor</a></li>

    <li class="list-group-item"><a class="c2"
                                   href="http://www.latinmotion.com.au/about-us/our-instructors/oliver-pineda"
                                   target="_blank">Oliver
        Pineda</a></li>

    <li class="list-group-item"><a class="c2"
                                   href="https://www.facebook.com/supermario.london"
                                   target="_blank">Mario Hazarika</a> (Supermario Salsa) [Lon]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/manuel.mascarell" target="_blank">Manuel
        Mascarell</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/atacajorgie" target="_blank">Jorge Burgos</a>&nbsp;(Ataca)
        &amp;
        <a href="https://www.facebook.com/LaAlemana813" target="_blank">Tanja Kensinger</a>&nbsp;(La Alemana)
    </li>

    <li class="list-group-item"><a href="http://www.salsa-dance-professional.com/juan-matos.html"
                                   target="_blank">Juan
        Matos</a>&nbsp;&amp; <a class="c2"
                                href="https://www.facebook.com/amnerismartinez27" target="_blank">Amneris
        Martinez</a>&nbsp;[Ita, Spa]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/terry.tauliaut" target="_blank">Terry Dan
        Ambroise
        Tauliaut</a>&nbsp;&amp; <a class="c2"
                                   href="https://www.facebook.com/cecile.ovide" target="_blank">C&eacute;cile
        Ovide</a>&nbsp;(Terry &amp; Cecile) [Fra]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/ivan.puertasgarcia" target="_blank">Iv&aacute;n
        Puertas</a>&nbsp;&amp;
        <a href="https://www.facebook.com/lyudmyla.kalyuzhna" target="_blank">Lyudmyla Kalyuzhna</a>&nbsp;[Spa,
        Ukr]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/falco.benalcazar" target="_blank">Falco
        Benalcazar</a>&nbsp;[ECU]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/albir.rojasdos" target="_blank">Albir Rojas</a>&nbsp;[Pan]&nbsp;&amp;
        <a href="https://www.facebook.com/albirysara" target="_blank">Sara Lopez Martines</a>&nbsp;[Spa]
    </li>

    <li class="list-group-item"><a href="http://big-spenders.fr/" target="_blank">Frantz Kichenassamy</a>&nbsp;&amp;
        <a href="https://www.facebook.com/mayssane.assaf" target="_blank">Mayssane Assaf</a>&nbsp;[Fra]
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/gabriel.ballany" target="_blank">Gabriel
        Ball&aacute;ny</a>&nbsp;&amp;
        <a href="https://www.facebook.com/beata.kollarova" target="_blank">Beata Kollarova</a>&nbsp;[Svk]
    </li>

    <li class="list-group-item"><a href="http://www.salsaclub-salzburg.at/salsa_kontakt.php" target="_blank">Edith
        Homoki</a>&nbsp;&amp;
        <a href="https://www.facebook.com/sadmir.becirspahic" target="_blank">Sadmir Becirspahic</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/1SalseraLoca" target="_blank">Tanja
        Oberhammer</a>&nbsp;&amp; <a class="c2"
                                     href="https://www.facebook.com/ho.ki.796" target="_blank">Hoki</a>
    </li>

    <li class="list-group-item"><a href="http://www.kikeyfania.com/" target="_blank">Enrique Utrera Cuesta
        (Kike) &amp;
        Estefan&iacute;a Sabajanes Jim&eacute;nez (Fan&iacute;a)</a></li>

    <li class="list-group-item"><a href="http://schoolofeverything.com/teacher/christianjean-francois"
                                   target="_blank">Christian
        Jean-Francois</a>&nbsp;&amp; <a class="c2"
                                        href="http://polestars.net/teacher/shirene-myra-solak/" target="_blank">Shirene
        Myra Solak</a>&nbsp;(Christian &amp; Shirene)
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/munaquita" target="_blank">Claudia Sabor</a>
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/alexandra.shtetinska" target="_blank">Alexandra
        Shtetinska</a>&nbsp;&amp; <a class="c2"
                                     href="https://www.facebook.com/bozhidar.gugushev" target="_blank">Bozhidar
        Gugushev</a>&nbsp;(Teo)
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/salsa.georg" target="_blank">Georg
        Kamenov-Kohl</a>&nbsp;&amp; <a class="c2"
                                       href="https://www.zumba.com/en-US/instructor/ines-kamenov-kohl/272145/"
                                       target="_blank">Ines
        Kamenov-Kohl</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/SalsaHans" target="_blank">Johann Reitmaier
        (Salsa Hans)</a>&nbsp;&amp;
        Evelyn
    </li>

    <li class="list-group-item"><a href="http://facebook.com/gensilf" target="_blank">Gensil Esteban Fermin
        Guillen (Gensil
        Fermin)</a>&nbsp;&amp; <a class="c2"
                                  href="https://www.facebook.com/heike.scherf" target="_blank">Heike
        Scherf</a></li>

    <li class="list-group-item"><a href="http://www.salsastudioromano.de/salsa/tanzlehrer/aanyo.html"
                                   target="_blank">Aanyo
        Kossi Kuzeawu</a>&nbsp;&amp; <a class="c2"
                                        href="http://www.mamborico.de/team.php" target="_blank">Ewgenija</a>&nbsp;(
        <a href="http://www.mamborico.de/" target="_blank">Mamborico</a>)
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/ruedaconjorge" target="_blank">Jorge
        Morales</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/beigesalsa" target="_blank">Zsuzsanna B&ouml;jte
        (Beige)</a>
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/djfuerza" target="_blank">Andr&egrave;s
        Ramirez</a>
    </li>

    <li class="list-group-item"><a href="https://www.facebook.com/esteban.henriquezmorales" target="_blank">Esteban
        Henriquez
        Morales</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/anke.obermayer.3" target="_blank">Anke
        Obermayer</a>
    </li>

    <li class="list-group-item"><a class="c2"
                                   href="http://www.salsafestival.at/index.php/page/p3_de_workshopleiter.html"
                                   target="_blank">Vincent
        &amp; Viktoria</a></li>

    <li class="list-group-item"><a href="http://www.cubandances.ch/profil.php" target="_blank">Francisco
        Rodriguez Barbur
        (Paco)</a></li>

    <li class="list-group-item"><a href="https://www.facebook.com/victor.ortega" target="_blank">Victor
        Ortega</a></li>

    <li class="list-group-item"><a href="http://www.afrolatinconnection.com/" target="_blank">Ricardo Sousa
        &amp; Paula
        Loureiro</a></li>

    <li class="list-group-item active"><h4>Groups</h4></li>

    <li class="list-group-item"><a href="https://www.facebook.com/LosMojitos" target="_blank">Los Mojitos</a>
    </li>

    <li class="list-group-item"><a href="http://www.swinguys.it/" target="_blank">Swing Guys</a></li>

    <li class="list-group-item"><a href="http://www.fuegoypasion.ch/" target="_blank">Fuego y Pasion</a></li>

    <li class="list-group-item"><a href="http://www.mamborico.de/" target="_blank">Mamborico</a></li>

    <li class="list-group-item"><a href="http://www.candente.de/" target="_blank">Grupo Candente</a></li>

    <li class="list-group-item"><a href="http://big-spenders.fr/" target="_blank">Big Spenders</a></li>
    </ul>
    </div>

    <h1 id="dance-shows" class="anchor">My Dance Shows</h1>

    <div class="color-banner"></div>

    <div class="well">
        <table id="dance-shows-table" class="table table-striped">
            <thead>
            <tr>
                <th>start</th>
                <th>end</th>
                <th>event name</th>
                <th>location</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>2013-07-18</td>
                <td>2013-07-21</td>
                <td><a
                        href="http://www.salsa-linz.at/Veranstaltungen_Details.aspx?ID=7013" target="_blank">Salsa
                    Festival Portorose</a>&nbsp;- Sabor Latino
                </td>
                <td>Slovenia (Portorose)</td>
            <tr>

            <tr>
                <td>2013-05-25</td>
                <td>2013-05-25</td>
                <td><a
                        href="http://www.salsa-linz.at/Veranstaltungen_Details.aspx?ID=7040" target="_blank">Salsa
                    en la Playa (Open Air)</a>&nbsp;- Vienna Sabor Show
                </td>
                <td>Austria (Vienna)</td>
            <tr>

            <tr>
                <td>2013-04-06</td>
                <td>2013-04-06</td>
                <td><a
                        href="http://www.salsa-linz.com/Veranstaltungen_Details.aspx?ID=7014" target="_blank">Linzer
                    Salsa Ball</a>&nbsp;- Sabor Show
                </td>
                <td>Austria (Linz)</td>
            <tr>

            <tr>
                <td>2011-05-28</td>
                <td>2011-05-28</td>
                <td><a
                        href="http://www.youtube.com/watch?v=epNAVScC_Og" target="_blank">Salsa
                    Show Mojitos</a>&nbsp;- Stadtball
                </td>
                <td>Austria (Laakrichen)</td>
            <tr>

            <tr>
                <td>2011-05-21</td>
                <td>2012-05-21</td>
                <td><a
                        href="http://salsa-linz.com/Veranstaltungen_Details.aspx?ID=6098" target="_blank">Linzer
                    Salsa Ball</a>&nbsp;- Sabor Show
                </td>
                <td>Austria (Linz)</td>
            <tr>

            <tr>
                <td>2011-05-13</td>
                <td>2011-05-15</td>
                <td><a
                        href="http://www.salsafestival.at/index.php?page=22&amp;gallery=32" target="_blank">Salsa
                    Festival K&auml;rnten</a>
                </td>
                <td>Austria (P&ouml;rtschach, Carinthia)</td>
            <tr>

            <tr>
                <td>2011-02-18</td>
                <td>2011-02-18</td>
                <td>Birthday Show</td>
                <td>Austria (Walding)</td>
            <tr>

            <tr>
                <td>2010-12-11</td>
                <td>2010-12-11</td>
                <td><a
                        href="https://www.facebook.com/events/159632507408467/" target="_blank">Hornball
                    Linz Mojitos Show</a>
                </td>
                <td>Austria (Linz)</td>
            <tr>

            <tr>
                <td>2010-11-27</td>
                <td>2010-11-27</td>
                <td><a
                        href="https://www.facebook.com/events/152615481448218/?ref=nf" target="_blank">Hornball
                    Linz Mojitos Show</a>
                </td>
                <td>Austria (Linz)</td>
            <tr>

            <tr>
                <td>2010-11-13</td>
                <td>2010-11-13</td>
                <td><a
                        href="http://www.kuiwa.at/index.php?option=com_content&amp;view=article&amp;id=59&amp;Itemid=61"
                        target="_blank">Gran
                    Fiesta Latina</a>&nbsp;- Salsa Show with Carolina Rojas
                </td>
                <td>Austria (Linz)</td>
            <tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="section-end section-end-grey"></div>

    <div class="section text-center">
        <img src="{{ STATIC_URL }}pages/images/salsaholics.jpg" class="img-responsive" style="display: inline">
    </div>

{% endblock %}

{% block extra-script %}
    <!-- animate anchor links -->
    <script>
        var $root = $('html, body');
        $('a').click(function () {
            var href = $.attr(this, 'href');
            $root.animate({
                scrollTop: $(href).offset().top
            }, 500, function () {
                window.location.hash = href;
            });
            return false;
        });
    </script>
    <!-- plusgallery -->
    <!-- Load jQuery ahead of this -->
    <script src="{{ STATIC_URL }}pages/plusgallery/js/plusgallery.js"></script>
    <script>
        $(function () {
            //DOM loaded
            $('#plusgallery').plusGallery();
        });
    </script>

{% endblock %}