<li class="list-group-item"><a href="https://www.facebook.com/canalesnicolas">Nicolas Poblate
    Canales</a>&nbsp;&amp;
    <a href="https://www.facebook.com/ursula.flores.ortega">Ursula Flores Ortega</a>
</li>

<li class="list-group-item"><a href="http://www.love2salsa.at/wir.html">Manu Waldbauer &amp; Rene
    Waldbauer</a></li>

<li class="list-group-item"><a href="http://www.salsa-linz.com/">Geraldo Hemelmayr</a>&nbsp;&amp;
    <a href="https://www.facebook.com/yuri.pozo">Yuri Pozo</a></li>

<li class="list-group-item"><a href="http://www.adrianyanita.com/index.php/biografia">Adri&aacute;n Rodr&iacute;guez
    Carbajal &amp; Anita Santos Rub&iacute;n</a></li>

<li class="list-group-item"><a href="http://www.juniorandemily.com/">Junior Alibi &amp; Emily
    Alibi</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/AlexAyelet">Alex Leyzer &amp; Ayelet
    Haliva</a></li>

<li class="list-group-item"><a href="http://www.palante.eu/enaboutus.php?&amp;id=3">Evgeni
    Markov</a>&nbsp;&amp; <a class="c2"
                             href="http://www.palante.eu/enaboutus.php?&amp;id=2">Liliana
    Gueorguieva Konstantinova</a></li>

<li class="list-group-item"><a href="http://www.mirodance.com/">Miroslav Ivanov &amp; Denitsa Mitakova
    Ivanova</a></li>

<li class="list-group-item"><a href="http://en.wikipedia.org/wiki/Eddie_Torres">Eddie Torres (aka Mambo
    King)</a>&nbsp;&amp; <a class="c2"
                            href="https://www.facebook.com/shani.talmor">Shani
    Talmor</a></li>

<li class="list-group-item"><a class="c2"
                               href="http://www.latinmotion.com.au/about-us/our-instructors/oliver-pineda">Oliver
    Pineda</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/manuel.mascarell">Manuel
    Mascarell</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/atacajorgie">Jorge Burgos</a>&nbsp;(Ataca)
    &amp;
    <a href="https://www.facebook.com/LaAlemana813">Tanja Kensinger</a>&nbsp;(La Alemana)
</li>

<li class="list-group-item"><a href="http://www.salsa-dance-professional.com/juan-matos.html">Juan
    Matos</a>&nbsp;&amp; <a class="c2"
                            href="https://www.facebook.com/amnerismartinez27">Amneris
    Martinez</a>&nbsp;[Ita, Spa]
</li>

<li class="list-group-item"><a href="https://www.facebook.com/terry.tauliaut">Terry Dan Ambroise
    Tauliaut</a>&nbsp;&amp; <a class="c2"
                               href="https://www.facebook.com/cecile.ovide">C&eacute;cile
    Ovide</a>&nbsp;(Terry &amp; Cecile) [Fra]
</li>

<li class="list-group-item"><a href="https://www.facebook.com/ivan.puertasgarcia">Iv&aacute;n
    Puertas</a>&nbsp;&amp;
    <a href="https://www.facebook.com/lyudmyla.kalyuzhna">Lyudmyla Kalyuzhna</a>&nbsp;[Spa, Ukr]
</li>

<li class="list-group-item"><a href="http://big-spenders.fr/">Frantz Kichenassamy</a>&nbsp;&amp;
    <a href="https://www.facebook.com/mayssane.assaf">Mayssane Assaf</a>&nbsp;[Fra]
</li>

<li class="list-group-item"><a href="https://www.facebook.com/gabriel.ballany">Gabriel
    Ball&aacute;ny</a>&nbsp;&amp;
    <a href="https://www.facebook.com/beata.kollarova">Beata Kollarova</a>&nbsp;[Svk]
</li>

<li class="list-group-item"><a href="http://www.salsaclub-salzburg.at/salsa_kontakt.php">Edith
    Homoki</a>&nbsp;&amp;
    <a href="https://www.facebook.com/sadmir.becirspahic">Sadmir Becirspahic</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/1SalseraLoca">Tanja
    Oberhammer</a>&nbsp;&amp; <a class="c2"
                                 href="https://www.facebook.com/ho.ki.796">Hoki</a>
</li>

<li class="list-group-item"><a href="http://www.kikeyfania.com/">Enrique Utrera Cuesta (Kike) &amp;
    Estefan&iacute;a Sabajanes Jim&eacute;nez (Fan&iacute;a)</a></li>

<li class="list-group-item"><a href="http://schoolofeverything.com/teacher/christianjean-francois">Christian
    Jean-Francois</a>&nbsp;&amp; <a class="c2"
                                    href="http://polestars.net/teacher/shirene-myra-solak/">Shirene
    Myra Solak</a>&nbsp;(Christian &amp; Shirene)
</li>

<li class="list-group-item"><a href="https://www.facebook.com/munaquita">Claudia Sabor</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/alexandra.shtetinska">Alexandra
    Shtetinska</a>&nbsp;&amp; <a class="c2"
                                 href="https://www.facebook.com/bozhidar.gugushev">Bozhidar
    Gugushev</a>&nbsp;(Teo)
</li>

<li class="list-group-item"><a href="https://www.facebook.com/salsa.georg">Georg
    Kamenov-Kohl</a>&nbsp;&amp; <a class="c2"
                                   href="https://www.zumba.com/en-US/instructor/ines-kamenov-kohl/272145/">Ines
    Kamenov-Kohl</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/SalsaHans">Johann Reitmaier (Salsa Hans)</a>&nbsp;&amp;
    Evelyn
</li>

<li class="list-group-item"><a href="http://facebook.com/gensilf">Gensil Esteban Fermin Guillen (Gensil
    Fermin)</a>&nbsp;&amp; <a class="c2"
                              href="https://www.facebook.com/heike.scherf">Heike
    Scherf</a></li>

<li class="list-group-item"><a href="http://www.salsastudioromano.de/salsa/tanzlehrer/aanyo.html">Aanyo
    Kossi Kuzeawu</a>&nbsp;&amp; <a class="c2"
                                    href="http://www.mamborico.de/team.php">Ewgenija</a>&nbsp;(
    <a href="http://www.mamborico.de/">Mamborico</a>)
</li>

<li class="list-group-item"><a href="https://www.facebook.com/ruedaconjorge">Jorge Morales</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/beigesalsa">Zsuzsanna B&ouml;jte (Beige)</a>
</li>

<li class="list-group-item"><a href="https://www.facebook.com/djfuerza">Andr&egrave;s Ramirez</a>
</li>

<li class="list-group-item"><a href="https://www.facebook.com/esteban.henriquezmorales">Esteban Henriquez
    Morales</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/anke.obermayer.3">Anke Obermayer</a>
</li>

<li class="list-group-item"><a class="c2"
                               href="http://www.salsafestival.at/index.php/page/p3_de_workshopleiter.html">Vincent
    &amp; Viktoria</a></li>

<li class="list-group-item"><a href="http://www.cubandances.ch/profil.php">Francisco Rodriguez Barbur
    (Paco)</a></li>

<li class="list-group-item"><a href="https://www.facebook.com/victor.ortega">Victor Ortega</a></li>

<li class="list-group-item"><a href="http://www.afrolatinconnection.com/">Ricardo Sousa &amp; Paula
    Loureiro</a></li>

<h1>Groups</h1>

<li class="list-group-item"><a href="https://www.facebook.com/LosMojitos">Los Mojitos</a></li>

<li class="list-group-item"><a href="http://www.swinguys.it/">Swing Guys</a></li>

<li class="list-group-item"><a href="http://www.fuegoypasion.ch/">Fuego y Pasion</a></li>

<li class="list-group-item"><a href="http://www.mamborico.de/">Mamborico</a></li>

<li class="list-group-item"><a href="http://www.candente.de/">Grupo Candente</a></li>

<li class="list-group-item"><a href="http://big-spenders.fr/">Big Spenders</a></li>

<li class="list-group-item"><a href="http://big-spenders.fr/"></a></li>