{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <div class="section section-stretch section-lightgray">

        <div class="container">
            <h1 class="tagline">be even more awesome</h1>
        </div>

        <div id="carousel-main" class="carousel slide" style="border-radius: 40px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-main" data-slide-to="1"></li>
                <li data-target="#carousel-main" data-slide-to="2"></li>
                <li data-target="#carousel-main" data-slide-to="3"></li>
            </ol>

            <!-- Mask -->
            <div class="carousel-mask"></div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="{% url 'pages:dance' %}"><img src="{{ STATIC_URL }}pages/images/slideshow/dance.jpg" alt="dance"></a>

                    <div class="carousel-caption">
                        <a class="btn btn-lg" href="{% url 'pages:dance' %}">Dance Instructor</a>
                    </div>
                </div>
                <div class="item">
                    <a href="{% url 'pages:personal-development' %}"><img src="{{ STATIC_URL }}pages/images/slideshow/coaching.jpg" alt="coaching"></a>

                    <div class="carousel-caption">
                        <a class="btn btn-lg" href="{% url 'pages:personal-development' %}">Personal Development Coach</a>
                    </div>
                </div>
                <div class="item">
                    <a href="{% url 'pages:web-design' %}"><img src="{{ STATIC_URL }}pages/images/slideshow/webdesign.jpg" alt="webdesign"></a>

                    <div class="carousel-caption">
                        <a class="btn btn-lg" href="{% url 'pages:web-design' %}">Web Developer</a>
                    </div>
                </div>
                <div class="item">
                    <a href="{% url 'pages:technology' %}"><img src="{{ STATIC_URL }}pages/images/slideshow/geek.jpg" alt="geek"></a>

                    <div class="carousel-caption">
                        <a class="btn btn-lg" href="{% url 'pages:technology' %}">Geek</a>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-main" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-main" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>

    </div>
    <div class="section-end section-end-lightgrey"></div>

    <div class="row section section-grey">
        <div class="section-end section-end-grey"></div>
        <div class="jumbotron">
            <h1 style="text-align: center;"> Hello, Adventurer!</h1>

            <p>Eraldo: <i>Do we know each other?</i></p>
            <p>I love this planet and many of it's inhabitants. I have stopped living the life that I "should" and
                started enjoying the journey with it's numerous adventures.</p>
            <p><i>What brings you here?</i></p>

            <p>
                <a href="#">salsa dancer</a>
                <a href="#">personal development coach</a>
            </p>

            <p>This is a template for a simple marketing or informational website. It includes a large callout
                called the hero unit and three supporting pieces of content. Use it as a starting point to create
                something more unique.</p>

            <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>
    {#    <div class="section-end section-end-grey"></div>#}

{% endblock %}

{% block extra-script %}
    <script>
        $('#carousel-main').carousel()
    </script>
{% endblock %}