{% extends 'base.html' %}

{% block title %}
    test
{% endblock %}

{% block content %}

    <div id='fb-root'></div>
<div class='hidden-phone nav-fixed'>
<nav class="menu clearfix"><div class="nav-link-left selected simple-navigation-active-leaf products"><a href="/" class="text-left selected simple-navigation-active-leaf">Home</a></div><div class="nav-link-left work"><a href="/work" class="text-left">Work</a></div><div class="nav-link-left services"><a href="/services" class="text-left">Services</a></div><div class="nav-link-root selected simple-navigation-active-leaf"><a href="/" class="root selected simple-navigation-active-leaf"></a></div><div class="nav-link-right about"><a href="/about" class="text-right">About</a></div><div class="nav-link-right blog"><a href="/the-capsized-eight" class="text-right">Blog</a></div><div class="nav-link-right contact"><a href="/contact" class="text-right">Contact</a></div></nav>
</div>
<div class='menu-dongle hidden-phone'></div>
<nav class='clearfix phone-menu visible-phone'>
<div class='menu-slidedown'>
<div class='row'>
<div class='outer-nav touchable' data-url='/'>
<div class='nav-link products'><a href="/">Home</a></div>
</div>
<div class='outer-nav touchable' data-url='/work/all'>
<div class='nav-link work'><a href="/">Work</a></div>
</div>
<div class='outer-nav touchable' data-url='/services'>
<div class='nav-link services'><a href="/">Services</a></div>
</div>
</div>
<div class='row'>
<div class='outer-nav touchable' data-url='/about'>
<div class='nav-link about'><a href="/">About</a></div>
</div>
<div class='outer-nav touchable' data-url='/the-capsized-eight'>
<div class='nav-link blog'><a href="/">Blog</a></div>
</div>
<div class='outer-nav touchable' data-url='/contact'>
<div class='nav-link contact'><a href="/">Contact</a></div>
</div>
</div>
</div>
<div class='menu-bar'>
<div class='menu-button'></div>
<div class='logo'>
<a href="/" class="root"><img alt="Menu-logo-simple" src="http://cdn1.infinum.co/assets/menu-logo-simple-0fb469be0094f7c3b395bf3252040d52.png" />
</a></div>
</div>
</nav>

<div class='content'><div class='home'>
<div class='section1 after-black'>
<div class='container'>
<h1 class='tagline'>We develop and design great software for mobile and web</h1>
</div>
</div>
<div class='section1'>
<div class='featured1 featurinho'>
<div class='stretcher'>
<div class='fish'>
<div class='back' style='background-image: url(/projects/_blank/back.jpg)'>
<div class='landscape mask'>
<div class='container'>
</div>
<div class='image'><img alt="Landscape" src="http://cdn0.infinum.co/projects/_blank/landscape.png" /></div>
</div>
</div>
</div>

</div>
<div class='slide active'>
<div class='fish'>
<div class='back' style='background-image: url(http://s3.amazonaws.com/infinum.web.production/projects/image_backs/000/000/028/original/back.jpg?1373552002)'>
<div class='landscape mask'>
<div class='container'>
<div class='labels'>
<h1 class='title'><a href="/case/maxtv-guide">MAXtv guide</a></h1>
<br>
<h3 class='call-to-action'><a href="/case/maxtv-guide">View case</a></h3>
</div>
</div>
<div class='arrow-holder hidden-tablet hidden-phone'>
<a href="#" class="arrow arrow-left"><img alt="Arrow-left" src="http://cdn1.infinum.co/assets/arrow-left-69d1c2baa049f0e01c6643b7f999e5f3.png" />
</a><a href="#" class="arrow arrow-right"><img alt="Arrow-right" src="http://cdn0.infinum.co/assets/arrow-right-7cc30a17834d7997e88a83c62ff6968f.png" />
</a></div>
<div class='image'>
<a href="/case/maxtv-guide"><img alt="Landscape" src="http://s3.amazonaws.com/infinum.web.production/projects/image_landscapes/000/000/028/original/landscape.png?1373552004" />
</a></div>
</div>
</div>
</div>

</div>
<div class='slide '>
<div class='fish'>
<div class='back' style='background-image: url(http://s3.amazonaws.com/infinum.web.production/projects/image_backs/000/000/021/original/back.jpg?1373551874)'>
<div class='landscape mask'>
<div class='container'>
<div class='labels'>
<h1 class='title'><a href="/case/groundlink">Groundlink</a></h1>
<br>
<h3 class='call-to-action'><a href="/case/groundlink">View case</a></h3>
</div>
</div>
<div class='arrow-holder hidden-tablet hidden-phone'>
<a href="#" class="arrow arrow-left"><img alt="Arrow-left" src="http://cdn1.infinum.co/assets/arrow-left-69d1c2baa049f0e01c6643b7f999e5f3.png" />
</a><a href="#" class="arrow arrow-right"><img alt="Arrow-right" src="http://cdn0.infinum.co/assets/arrow-right-7cc30a17834d7997e88a83c62ff6968f.png" />
</a></div>
<div class='image'>
<a href="/case/groundlink"><img alt="Landscape" src="http://s3.amazonaws.com/infinum.web.production/projects/image_landscapes/000/000/021/original/landscape.png?1373551876" />
</a></div>
</div>
</div>
</div>

</div>
<div class='slide '>
<div class='fish'>
<div class='back' style='background-image: url(http://s3.amazonaws.com/infinum.web.production/projects/image_backs/000/000/032/original/back.jpg?1373552069)'>
<div class='landscape mask'>
<div class='container'>
<div class='labels'>
<h1 class='title'><a href="/case/soundset-radio">Soundset radio</a></h1>
<br>
<h3 class='call-to-action'><a href="/case/soundset-radio">View case</a></h3>
</div>
</div>
<div class='arrow-holder hidden-tablet hidden-phone'>
<a href="#" class="arrow arrow-left"><img alt="Arrow-left" src="http://cdn1.infinum.co/assets/arrow-left-69d1c2baa049f0e01c6643b7f999e5f3.png" />
</a><a href="#" class="arrow arrow-right"><img alt="Arrow-right" src="http://cdn0.infinum.co/assets/arrow-right-7cc30a17834d7997e88a83c62ff6968f.png" />
</a></div>
<div class='image'>
<a href="/case/soundset-radio"><img alt="Landscape" src="http://s3.amazonaws.com/infinum.web.production/projects/image_landscapes/000/000/032/original/landscape.png?1373972847" />
</a></div>
</div>
</div>
</div>

</div>
<div class='slide '>
<div class='fish'>
<div class='back' style='background-image: url(http://s3.amazonaws.com/infinum.web.production/projects/image_backs/000/000/027/original/back.jpg?1373551979)'>
<div class='landscape mask'>
<div class='container'>
<div class='labels'>
<h1 class='title'><a href="/case/24sata-2-go">24sata 2 GO</a></h1>
<br>
<h3 class='call-to-action'><a href="/case/24sata-2-go">View case</a></h3>
</div>
</div>
<div class='arrow-holder hidden-tablet hidden-phone'>
<a href="#" class="arrow arrow-left"><img alt="Arrow-left" src="http://cdn1.infinum.co/assets/arrow-left-69d1c2baa049f0e01c6643b7f999e5f3.png" />
</a><a href="#" class="arrow arrow-right"><img alt="Arrow-right" src="http://cdn0.infinum.co/assets/arrow-right-7cc30a17834d7997e88a83c62ff6968f.png" />
</a></div>
<div class='image'>
<a href="/case/24sata-2-go"><img alt="Landscape" src="http://s3.amazonaws.com/infinum.web.production/projects/image_landscapes/000/000/027/original/landscape.png?1373551980" />
</a></div>
</div>
</div>
</div>

</div>
<div class='slide '>
<div class='fish'>
<div class='back' style='background-image: url(http://s3.amazonaws.com/infinum.web.production/projects/image_backs/000/000/030/original/back.jpg?1373552034)'>
<div class='landscape mask'>
<div class='container'>
<div class='labels'>
<h1 class='title'><a href="/case/meteor-online-store">Meteor online store</a></h1>
<br>
<h3 class='call-to-action'><a href="/case/meteor-online-store">View case</a></h3>
</div>
</div>
<div class='arrow-holder hidden-tablet hidden-phone'>
<a href="#" class="arrow arrow-left"><img alt="Arrow-left" src="http://cdn1.infinum.co/assets/arrow-left-69d1c2baa049f0e01c6643b7f999e5f3.png" />
</a><a href="#" class="arrow arrow-right"><img alt="Arrow-right" src="http://cdn0.infinum.co/assets/arrow-right-7cc30a17834d7997e88a83c62ff6968f.png" />
</a></div>
<div class='image'>
<a href="/case/meteor-online-store"><img alt="Landscape" src="http://s3.amazonaws.com/infinum.web.production/projects/image_landscapes/000/000/030/original/landscape.png?1373552036" />
</a></div>
</div>
</div>
</div>

</div>
<div class='pagination'></div>
</div>

<br>
<hr>
<div class='container'>
<div class='row points'>
<div class='point span4'>
<a href="/work"><h2>100+ projects</h2>
<div class='hidden-phone'><img alt="Point-100+-projects" src="http://cdn1.infinum.co/home/point-100+-projects.png" /></div>
<p>We’ve worked on projects ranging from large infrastructure projects for banks and telecoms to small apps for startups.</p>
<div class='read-more'>Find out more &raquo;</div>
</a></div>
<div class='point span4'>
<a href="/awards"><h2>Award winning</h2>
<div class='hidden-phone'><img alt="Point-award-winning" src="http://cdn1.infinum.co/home/point-award-winning.png" /></div>
<p>For our mobile development skills we’ve won numerous awards, including a cash prize of $100.000 from the Samsung Global Developer Challenge.</p>
<div class='read-more'>Find out more &raquo;</div>
</a></div>
<div class='point span4'>
<a href="/services"><h2>Services</h2>
<div class='hidden-phone'><img alt="Point-services" src="http://cdn0.infinum.co/home/point-services.png" /></div>
<p>We kick ass in iPhone, iPad, Android, Ruby on Rails, HTML5, Sencha Touch, Node.js, Backbone.js, Responsive web design and more.</p>
<div class='read-more'>Find out more &raquo;</div>
</a></div>
</div>
</div>
</div>
<div class='section2 after-gray'>
<div class='container'>
<h1>Trusted by companies and brands like</h1>
<div class='clients-holder'>
<div class='clients'>
<div class='row-fluid'>
<div class='span3'>
<div class='client client-erstebank'>
<a href="http://www.erstegroup.com/en" class="front client-erstebank-front" data-popup="true">ErsteBank</a>
</div>
</div>
<div class='span3'>
<div class='client client-raiffeisen'>
<a href="http://www.rba.hr/my/bank/home.jsp?language=EN" class="front client-raiffeisen-front" data-popup="true">Raiffeisen</a>
</div>
</div>
<div class='span3'>
<div class='client client-pbz'>
<a href="http://www.pbz.hr/eng" class="front client-pbz-front" data-popup="true">PBZ</a>
</div>
</div>
<div class='span3'>
<div class='client client-royal-carribean'>
<a href="http://www.royalcaribbean.com/home.do" class="front client-royal-carribean-front" data-popup="true">Royal Carribean</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span3'>
<div class='client client-the-image-group'>
<a href="http://www.image.com" class="front client-the-image-group-front" data-popup="true">The Image Group</a>
</div>
</div>
<div class='span3'>
<div class='client client-universal-music-group'>
<a href="http://www.universalmusic.com/" class="front client-universal-music-group-front" data-popup="true">Universal Music Group</a>
</div>
</div>
<div class='span3'>
<div class='client client-p-and-g'>
<a href="http://www.pg.com/" class="front client-p-and-g-front" data-popup="true">P&amp;G</a>
</div>
</div>
<div class='span3'>
<div class='client client-groundlink'>
<a href="http://www.groundlink.com" class="front client-groundlink-front" data-popup="true">Groundlink</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span3'>
<div class='client client-meteor'>
<a href="http://www.meteor.ie" class="front client-meteor-front" data-popup="true">Meteor</a>
</div>
</div>
<div class='span3'>
<div class='client client-eircom'>
<a href="http://www.eircom.ie" class="front client-eircom-front" data-popup="true">Eircom</a>
</div>
</div>
<div class='span3'>
<div class='client client-atlantic-grupa'>
<a href="http://www.atlantic.hr/en/" class="front client-atlantic-grupa-front" data-popup="true">Atlantic grupa</a>
</div>
</div>
<div class='span3'>
<div class='client client-vip'>
<a href="http://www.vipnet.hr/privatni-pretplatnici?p_p_auth=taPHJvx0&amp;p_p_id=82&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_pos=3&amp;p_p_col_count=5&amp;_82_struts_action=%2Flanguage%2Fview&amp;_82_redirect=%2F&amp;languageId=en_US" class="front client-vip-front" data-popup="true">Vip</a>
</div>
</div>
</div>
<div class='row-fluid'>
<div class='span3'>
<div class='client client-t-com'>
<a href="http://www.t.ht.hr/eng/" class="front client-t-com-front" data-popup="true">T-Com</a>
</div>
</div>
<div class='span3'>
<div class='client client-tilia'>
<a href="http://www.zav-tilia.si/si/" class="front client-tilia-front" data-popup="true">Tilia</a>
</div>
</div>
<div class='span3'>
<div class='client client-duracell'>
<a href="http://www.duracell.com" class="front client-duracell-front" data-popup="true">Duracell</a>
</div>
</div>
<div class='span3'>
<div class='client client-samsung'>
<a href="http://www.samsung.com" class="front client-samsung-front" data-popup="true">Samsung</a>
</div>
</div>
</div>
</div>

<p class='text-center'>
<a href="/clients">and many, many more...</a>
</p>
</div>
</div>
</div>
<div class='section1 mini-blog'>
<div class='container'>
<h1>
Read our blog
&mdash; <a href="/the-capsized-eight">The Capsized Eight</a>
</h1>
<hr>
<div class='row'>
<div class='mini-post'>
<div class='span1 image hidden-phone'>
<img alt="30" src="http://cdn1.infinum.co/users/30.png" />
</div>
<div class='span5'>
<h3><a href="/the-capsized-eight/articles/is-your-android-emulator-just-too-slow">Is your Android emulator just too slow?</a></h3>
<hr>
<div class='author'>by Mirko Jurić-Kavelj</div>
<div class='summary'><p>Testing on multiple mobile devices is costly, time consuming and the default Android emulator is notoriously slow. So, what should we do? That's easy - start using a properly fast Android emulator.</p></div>
<a href="/the-capsized-eight/articles/is-your-android-emulator-just-too-slow" class="case-button">Read more</a>
</div>
</div>

<div class='visible-phone'>
<hr>
</div>
<div class='mini-post'>
<div class='span1 image hidden-phone'>
<img alt="1" src="http://cdn1.infinum.co/users/1.png" />
</div>
<div class='span5'>
<h3><a href="/the-capsized-eight/articles/we-re-hiring-developers-designers-and-testers">We&#x27;re hiring developers, designers and testers</a></h3>
<hr>
<div class='author'>by Tomislav Car</div>
<div class='summary'><p>We're hiring people to develop Android and Ruby on Rails applications, design web and mobile apps and manage the quality of the software that we're building.</p></div>
<a href="/the-capsized-eight/articles/we-re-hiring-developers-designers-and-testers" class="case-button">Read more</a>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<div class='message-section section1'>
<hr>
<div class='container work-with-us'>
<h2>
Interested in working with us?
<a href="/contact/work-with-us">Let&#x27;s get started...</a>
</h2>
</div>
</div>
<footer>
<div class='work-section section1'>
<div class='container'>
<h1>We do work for</h1>
<hr>
<div class='industries'>
<div class='row'>
<div class='industry span3'>
<a href="/work/banking-and-financial">Banking and financial</a>
</div>
<div class='industry span3'>
<a href="/work/telecom">Telecom</a>
</div>
<div class='industry span3'>
<a href="/work/media-and-publishing">Media and publishing</a>
</div>
<div class='industry span3'>
<a href="/work/digital-marketing">Digital marketing</a>
</div>
</div>
<div class='row'>
<div class='industry span3'>
<a href="/work/traffic-and-transportation">Traffic and transportation</a>
</div>
<div class='industry span3'>
<a href="/work/music-and-entertainment">Music and entertainment</a>
</div>
<div class='industry span3'>
<a href="/work/cruise-line-industry">Cruise line industry</a>
</div>
<div class='industry span3'>
<a href="/software-development-for-startups">Startups</a>
</div>
</div>
<div class='row'>
<div class='industry span3'>
<a href="/work/healthcare">Healthcare</a>
</div>
<div class='industry span3'>
</div>
<div class='industry span3'>
<a href="/work/retail-and-tourism">Retail and tourism</a>
</div>
</div>
</div>
<hr>
<h1 class='hidden-phone'>Contact</h1>
<div class='row locations'>
<div class='location offset1 span4'>
<h2><a href="/hr">Croatia</a></h2>
<p>
<em>a:</em>
Andrije Žaje 10, 10000 Zagreb
</p>
<p>
<em>p:</em>
+385 91 606 4062
</p>
</div>
<div class='location offset2 span4'>
<h2><a href="/si">Slovenia</a></h2>
<p>
<em>a:</em>
Celovška 160, 1000 Ljubljana
</p>
<p>
<em>p:</em>
+386 51 258 909
</p>
</div>
</div>
</div>
</div>
<div class='contact-section hidden-phone'>
<a href="/contact" class="case-button">Contact us</a>
</div>
<div class='newsletter-section section2'>
<div class='container'>
<div class='row'>
<div class='span5 offset1'>
<h1>Subscribe to our newsletter</h1>
<small>News and updates on what we're up to.</small>
</div>
<div class='span5 offset1 middle'>
<form accept-charset="UTF-8" action="/subscribe" class="form-inline" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ej1UJDMoBZboNZDYazgSJmsUWw6XQghsRN+6k2S0H80=" /></div>
<input class="footer-input" id="email" name="email" placeholder="Enter your email" type="text" value="" />
<button class="case-button btn-subscribe" name="button" type="submit"></button>
</form>

</div>
</div>
</div>
</div>
<div class='links-section section1'>
<div class='container'>
<div class='social row'>
<div class='span3 facebook link'>
<a href="http://www.facebook.com/pages/Infinum/365466212677" data-popup="true"><span class='img-facebook icon'>
<span class='front'></span>
</span>
Facebook
</a></div>
<div class='span3 twitter link'>
<a href="http://twitter.com/infinum_hr" data-popup="true"><span class='img-twitter icon'>
<span class='front'></span>
</span>
Twitter
</a></div>
<div class='span3 dribble link'>
<a href="http://dribbble.com/infinum" data-popup="true"><span class='img-dribble icon'>
<span class='front'></span>
</span>
Dribbble
</a></div>
<div class='span3 rss link'>
<a href="http://feeds.feedburner.com/TheCapsizedEight" data-popup="true"><span class='img-rss icon'>
<span class='front'></span>
</span>
RSS
</a></div>
</div>
<hr>
<div class='copyright'>
Established 2005 in <a href="http://en.wikipedia.org/wiki/Karlovac" title="Hello europe!">Karlovac</a> © Infinum Ltd.
</div>
</div>
</div>
<div class='section2 visible-phone'>
<div class='container'>
<div class='back-to-top'>
<a href="#">Back to top</a>
</div>
</div>
</div>
</footer>

{% endblock %}